/* You can add global styles to this file, and also import other style files */

body {
  height: 100% !important;
}

#toast-container {
  margin: 0 !important;
  position: absolute !important;
  top: unset !important;
  bottom: 10px !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
}

input.valid[type=number]:not(.browser-default),
input.valid[type=text]:not(.browser-default),
input.valid[type=password]:not(.browser-default) {
  border-bottom: 1px solid #009688 !important;
  box-shadow: 0 1px 0 0 #009688 !important;
}

input.invalid[type=number]:not(.browser-default),
input.invalid[type=text]:not(.browser-default),
input.invalid[type=password]:not(.browser-default) {
  border-bottom: 1px solid #e53935 !important;
  box-shadow: 0 1px 0 0 #e53935 !important;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #e0f2f1; 
  border-radius: 0.5em
}

::-webkit-scrollbar-thumb {
  background: #80cbc4; 
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #009688; 
}
