<div class="row">
  <div>
    <i class="material-icons prefix">account_circle</i>&nbsp;<span class="text">Account</span>
  </div>
  <div class="input-field col m6 l6">
    <input name="accountIdTxt" id="icon_prefix" type="number" class="validate" [(ngModel)]="selectedAccountId" required ng-maxlength="8">
  </div>
</div>

<div class="row">
  <div>
    <i class="material-icons prefix">dns</i>&nbsp;<span class="text">Environment</span>
  </div>
  <p *ngFor="let environment of environments">
    <label>
      <input name="envgroup" type="radio" (click)="setEnvironment(environment)" [checked]="environment == selectedEnvironment" />
      <span>{{environment}}</span>
    </label>
  </p>
</div>
<!-- <div class="row">
  <ul class="collection">
    <li class="collection-item">Selected account: {{selectedAccountId}}</li>
    <li class="collection-item">Selected environment: {{selectedEnvironment}}</li>
  </ul>
</div> -->
<div class="row">
  <a class="btn" (click)="saveSettings()">Apply</a>
</div>
