p > label {
  color: unset !important;
}

div > i {
  vertical-align: middle;
}

div > .text {
  vertical-align: middle;
}

p > label {
  margin-right: 5em;
}

th {
  font-weight: normal !important;
  font-style: italic
}

th, td {
  padding: 5px 5px !important;
}

tr {
  border-bottom: unset !important;
}

.p5 {
  width: 5% !important;
}


.p15 {
  width: 15% !important;
}

.p20 {
  width: 20% !important;
}
.p35 {
  width: 35% !important;
}


.last {
  width: 5% !important;
  min-width: 28px !important;
  padding-right: 0px !important;
}

.loading {
  display: show;
  height: 2em !important;
  vertical-align: middle;
}

.resting {
  display: none;
}

td.test-btn {
  width:1%;
}